{% extends 'base.html' %}

{% block title %}Remove Account {% endblock %}
{% block content %}
<br><br><br><br><br>
{% if user.is_authenticated %}
    <div class="container">
      <button class="btn btn-success" type="submit" value="save">Save</button>
      <a type="button" class="btn btn-outline-danger" href="{% url 'remove_user' %}">Delete</a>
      <br>
    </div>

{% else %}
  <h3>You are not allowed to see this post</h3><br>
  <h1>Redirect...</h1>
  <meta http-equiv = "refresh" content = "3; url = {% url 'home' %}" />
{% endif %}
{% endblock %}