{% extends 'base.html' %}
{% block content %}
<br><br><br>

<!-- Team Section -->
<div class="w3-container" style="padding:128px 16px" id="team">
  <h3 class="w3-center">MEET THE TEAM</h3>
  <p class="w3-center w3-large">The individuals that make up the team</p>
  <div class="w3-row-padding w3-grayscale" style="margin-top:64px">
    <div class="w3-col l4 m6 w3-margin-bottom">
      <div class="w3-card">
        <div class="w3-container">
          <h3>Itay Goldfaden</h3>
          <p class="w3-opacity">Captain</p>
          <p>Team Captain</p>
          <p><button class="w3-button w3-light-grey w3-block"><i class="fa fa-envelope"></i> Itay@email.sc.edu</button></p>
        </div>
      </div>
    </div>
    <div class="w3-col l4 m6 w3-margin-bottom">
      <div class="w3-card">
        <div class="w3-container">
          <h3>Corey Brown</h3>
          <p class="w3-opacity">Tester</p>
          <p>Team Tester</p>
          <p><button class="w3-button w3-light-grey w3-block"><i class="fa fa-envelope"></i> browncd4@email.sc.edu</button></p>
        </div>
      </div>
    </div>
    <div class="w3-col l4 m6 w3-margin-bottom">
      <div class="w3-card">
        <div class="w3-container">
          <h3>Matthew Caulder</h3>
          <p class="w3-opacity">Client Representative</p>
          <p>Team Client Representative</p>
          <p><button class="w3-button w3-light-grey w3-block"><i class="fa fa-envelope"></i> mcaulder@email.sc.edu</button></p>
        </div>
      </div>
    </div>
    <div class="w3-col l6 m6 w3-margin-bottom">
      <div class="w3-card">
        <div class="w3-container">
          <h3>Erik Nick</h3>
          <p class="w3-opacity">Analyst</p>
          <p>Team Analyst</p>
          <p><button class="w3-button w3-light-grey w3-block"><i class="fa fa-envelope"></i> enick@email.sc.edu</button></p>
        </div>
      </div>
    </div>
    <div class="w3-col l6 m6 w3-margin-bottom">
      <div class="w3-card">
        <div class="w3-container">
          <h3>James Milton</h3>
          <p class="w3-opacity">Editor</p>
          <p>Team Editor</p>
          <p><button class="w3-button w3-light-grey w3-block"><i class="fa fa-envelope"></i> jlmilton@email.sc.edu</button></p>
        </div>
      </div>
    </div>
  </div><br>
  <figure class="quote">
    <blockquote>
      Our team has decided to develop an online platform where students,
       faculty, and staff can freely buy and sell items from each other.
        This website will be exclusive to students, faculty, and staff.
         A university email address will be required when signing up for an account.
          Our goal for this website is that it will provide a safe
           environment for students (both undergraduate and graduate),
            faculty, and staff to buy and sell their goods.
             The Idea is similar to Craigslist but without the risk of
              not knowing who you are meeting in person.
               This website should ideally be usable on laptop and desktop computers.
    </blockquote>
    <figcaption>
      &mdash; C-2319 - College Market </figcaption>
  </figure>
</div>
{% endblock content %}
